
  <center><image class="photo" src="../images/john.jpg" alt="profile" style= "width:320px; height:320px"></center>


<div class="About">
  <center><h2>About John Wallace</h2></center>
  <p>
    John Wallace graduated from La Salle University in 2009 with a degree in Biotechnology. From there he then took pre-requisite courses so he could apply to medical school. In 2014 he was accepted to Temple University School of Podiatric Medicine where he spent the next year. Realizing he did not like his careeer choice he decided to seek another career path. In October of 2017 he went to New York Code and Design Academy where he learned the fundementals of web development in the web development intensive course. Some of John's hobby's include building computers, playing drums and tinkering with cars.
  </p>
</div>
