<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/stylesheets/index.css">
  </head>
  <body>
    <header>
<nav>
<ul>
    <h1>John Wallace</h1>
    <li><a href='/'>Home</a></li>
    <li><a href='sites'>Sites</a></li>
  
</ul>

</nav>
</header>
    <%= yield %>
    <script src="/js/index.js"></script>
  </body>
</html>
