<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/stylesheets/index.css">
    <script src="https://use.fontawesome.com/f726e8fc4a.js"></script>
  </head>
  <body>
    <header>
<nav>
<ul>
    <h1>John Wallace</h1>
    <li><a href='/'>Home</a></li>
    <li><a href='sites'>Sites</a></li>

</ul>

</nav>
</header>

    <%= yield %>
    <script src="/js/index.js"></script>
    <footer>
      <div class="footer">
      <div class="linked">
      <a href="https://www.linkedin.com/in/john-wallace-7689a8b2"><i class="fa fa-linkedin-square fa-3x" aria-hidden="true" style=
        "color:black"></i></a>
    </div>
    <div class="git">
      <a href="https://github.com/wallacej1217"><i class="fa fa-github fa-3x" aria-hidden="true" style=
        "color:black"></i>
    </div>
  </div>
    </footer>
  </body>
</html>
