

body {
  margin: 0;
  background: #5D6D7E;
  font-family: sans-serif;
  font-weight: 300;
}

.container{
  width: 70%;
  margin: 0 auto;
}

header{
  background: #AEB6BF;
}


nav ul li{
  margin: -5px;
  margin-top: 7px;
  margin-left: 30px;
  list-style-type: none;
  float: left;
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

position: relative;
}

h1{
float: left;
padding-top: 9px;
}

header::after{
  content: '';
  display: table;
  clear: both;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

nav a:hover {
  color: #000;
}


nav ul a{
  text-decoration: none;
  font-family: sans-serif;
  color: black;
  text-transform: uppercase;
}

nav ul{
  width: 100%;
  line-height: 40px;
  height: 80px;
}

.photo{
  border-radius: 50%;
  border: 5px solid black;
  margin-top: 150px;
  padding: 2px;
  margin-left: 25px;


}

p{
  text-align: center;
  margin-right: 200px;
  margin-left: 200px;
  column-count: 1;
  column-width: 10px;
  margin-bottom: 200px;
}

h2{
  text-align: center;
}

.linked{
  display: inline-block;
}

.git{
  display: inline-block;
}


  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 7%;
    background-color: #AEB6BF;
    color: white;
    text-align: center;
}
